<div id="paymentContainer">
    <form method="post" action="@PaymentUrl" id="formAuthorizeNetPopup" name="formAuthorizeNetPopup"
          target="iframeAuthorizeNet">
        <input type="hidden" id="popupToken" name="token" value="@FormToken"/>
    </form>

    <div id="divAuthorizeNetPopup" style="display:none;" class="AuthorizeNetPopupGrayFrameTheme">
        <div class="AuthorizeNetPopupOuter">
            <div class="AuthorizeNetPopupInner">
                <iframe name="iframeAuthorizeNet" id="iframeAuthorizeNet" src="empty.html"></iframe>
            </div>
            <div class="AuthorizeNetPopupBottom">
                <div class="AuthorizeNetPopupLogo" title="Powered by Authorize.net"></div>
            </div>
            <div id="divAuthorizeNetPopupScreen" style="display:none;"></div>
        </div>
    </div>
</div>